
/*--------------------------------------------------*/
/*- ARCHIVO : Home Sass */
/*---------------------------------------------------*/

/* Sección Miscelaneo */
.sectionMiscelaneo
	background: #FFD9B9
	padding   : 30px 0

/* Iframe Video */
#iframe-video
	height: 268px
	width : 100%